#startDate,
#endDate {
  width: 10rem;
}

.inventory-prediction-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0px 1px 5px -1px rgba(0, 0, 0, 0.75);
  padding: 2rem;
  border-radius: 1rem;
}

.inventory-prediction-inner {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.predictor-image {
  flex: 2;
}

.predictor-image img {
  width: 100%;
}
.predictor {
  flex: 3;
}

.loader-pred {
  width: 120px;
  height: 22px;
  border-radius: 40px;
  color: #3811a3;
  border: 2px solid;
  position: relative;
}
.loader-pred::before {
  content: "";
  position: absolute;
  margin: 2px;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: inherit;
  background: currentColor;
  animation: l4 1s infinite linear;
}
@keyframes l4 {
  50% {
    left: 100%;
    transform: translateX(calc(-100% - 4px));
  }
}
